*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.text-center{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}
.logo{
    cursor: pointer;
}
.social-links a{
    background: #1d9bf0;
    color: #fff;
    padding: 3px 7px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 18px;
    transition: all 0.3s;
}
.social-links a:hover{
    background: #0d7cc8;
}
.social-links a i{
    margin-right: 10px;
    font-size: 16px;
}
.gray-line{
    height: 5px;
    width: 100%;
    background: #D2D2D2;
}
.content{
    height: 80vh;
    width: 100%;
    background-image: url(img/bg.original.png);
    background-color: rgb(251, 175, 65);
    display: flex;
}
.content-left{
    margin-left: 10rem;
    color: #fff;
}
.content-left h1{
    font-size: 4.3rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.p1{
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    padding: 10px 0;
    margin: 10px 0;
    width: 500px;
    font-size: 23px;
}
.p2{
    font-size: 16px;
    margin-bottom: 10px;
}
label{
    font-size: 16px;
}
#name, #email, #phone, button{
    width: 417px;
    padding: 6px 0;
    margin: 10px 0;
    outline: none;
    font-size: 17px;
}
button{
    background: #1872ca;
    border: none;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    transition: ease-in 0.3s;
    padding: 12px 0;
}
button:hover{
    background: #0863a0;
}
.content-img{
    position: relative;
    top: 104px;
    right: 90px;
    width: 510px;
}
.text{
    text-align: center;
}
.ser-p{
    font-size: 35px;
    margin-top: 73px;
    color: #fbaf41;
}
.ser-p2{
    color: gray;
    font-size: 14px;
}
.card{
    display: flex;
    margin-left: 15rem;
    margin-top: 70px;
}
.card-cmn{
    text-align: center;
    width: 25%;
    margin-right: 46px;
}
.card-title{
    font-size: 21px;
    margin-bottom: 15px;
    color: #fbaf41;
}
.card-text{
    word-spacing: 1px;
    color: gray;
    font-size: 14px;
}
.class{
    margin-top: 100px;
    margin-bottom: 60px;
}
.cl-p1{
    color: #fbaf41;
    font-size: 33px;
}
.cl-p2{
    color: gray;
    font-size: 13px;
}
.class-img .cls-img{
    margin: 60px 48px;
}
.video{
    height: 50vh;
    width: 100%;
    background-image: url(img/bg.original.png);
    background-color: rgba(196, 187, 187, 0.322);
}
.video{
    display: flex;
}
.vd-text{
    flex-basis: 30%;
    margin-left: 10rem;
    margin-top: 30px;
}
.video .vd-text .vd-p1{
    color: #ef5b2b;
    font-size: 34px;
}
.vd-p2{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.7;
}
.video ul{
    list-style-image: url(img/tick.png);
    margin-left: 19px;
}
li{
    margin-top: 12px;
    font-size: 15px;
}
.yt-video{
    margin-top: 37px;
    margin-left: 155px;
}
.cards-2{
    margin-top: 150px;
    display: flex;
}
.btm-card-1{
    height: 448px;
    width: 298px;
    border: 1px solid #bfb4b4;
    margin-left: 104px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.ms-10{
    margin-left: 10rem;
}
.card-2.text{
    margin-top: 80px;
}
.card-2-text-p1{
    font-size: 33px;
    color: #fbaf41;
}
.card-2-text-p2{
    color: gray;
    font-size: 13px;
}
.btm-ul{
    position: relative;
    left: 43px;
    top: 134px;
}
.round-1{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background: #ef5b2b;
    position: relative;
    bottom: 18.563rem;
    left: 67px;
}
.round-2{
    height: 183px;
    width: 183px;
    background: #fbaf41;
    border-radius: 50%;
    position: relative;
    bottom: 29.563rem;
    left: 60px;
    z-index: -1;
}
.btm-card-img-1{
    position: relative;
    bottom: 40.313rem;
    left: 72px;
    border-radius: 50%;
}
.btm-card-1 .btm-ul li{
    display: inline-block;
    font-size: 17px;
    color: gray;
    word-spacing: 2px;
}

footer{
    background: rgba(239,91,43,1);
    color: #fff;
    display: flex;
    margin-top: 80px;
}
.ftinfo{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 151px;
}
.fontsize{
    font-size: 26px;
}
.fontsize2{
    font-size: 14px;
    line-height: 2;
}
.footer-last{
    background: rgba(187,59,17,1);
    color: #fff;
    display: flex;
}
.ft-p2{
    margin-left: 439px;
}
.ft-p2 a{
    color: #fff;
}
.my{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
}